
.card__img {
    width: 100%;
  }
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

/* .body {
  font-family: "Noto Sans", sans-serif;
  
} */

.wrapper {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}

.card {
  box-shadow: 0 0 10px 5px gray;
  border-radius: 2 rem;
  min-width: 28rem;
  display: flex;
  color:black !important
}
.card__title{
  font-size: 1.5rem;
}
  .imgCard  {
    
  height: 15rem;
    object-fit: cover;
  }
.imgCard  {
    
  height: 15rem;
    object-fit: cover;
  }

  .body {
    margin: 1rem;
    flex-grow: 1;
  }
  title {
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .flex{
    display: flex;
    justify-content: center;
   padding-top: 10px; 
  }

  .btn {
    border: none;
    border-top: 1px solid gray;
    background-color: transparent;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
    width: 100%;
    padding-top: 1rem;
    /* margin-top: 1rem; */
    cursor: pointer;
  }


@media screen and (min-width: 100px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  }

  .card {
    flex-direction: column;
    text-align: center;
    min-width: 10rem;}

    .card .img {
      width: 100%;
      height: 12rem;
    }
  }

