

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
 
}


ul li  {
  display: inline;
  text-decoration: none;
  padding: 10px;
}

.imgModal{
  position: unset;
}


h2 a {
  /* color: aliceblue; */
justify-content: center;}

._p-features {
	color: black;
}
.card { position: unset;}