
/* .preview.preview-pic.col-md-6.tab-content {
max-height: 400px;} */
.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
 
}
.imagenfooter {
  background-color: black;
  background-image: url("../public/coffe.gif");
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50%;
}

ul li  {
  display: inline;
  text-decoration: none;
  padding: 10px;
}

.imgModal{
  position: unset;
}


h2 a {
  /* color: aliceblue; */
justify-content: center;}

._p-features {
	color: black;
}
.card { position: unset;}